.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-right: 95px;
    padding-left: 95px;
    padding-top: 70px;
    
}

.card {
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.card img {
    width: 100%;
    border-radius: 2px;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #01a9d6;
    transform: scale(0);
    /* Initially hidden */
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    display: flex;
    font-size: 1rem;
    font-weight: bold;

}

.card:hover .overlay {
    transform: scale(1);
}

.card .overlay span {
    visibility: hidden;
}

.card:hover .overlay span {
    visibility: visible;
}

/* ***************************************************************************** */

.text_title {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.text {
    font-size: 14px;
    color: white;
    margin: 10px 0 0 0;

}

.title {
    margin: 10px 0 0 0;
    font-weight: 600;
    font-size: 20px;
}

.title a 
{
    text-decoration: none;
    color: white;

}
